In [128]:
import pandas as pd
df=pd.read_csv('titanic.csv')
df.head ()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [153]:
inputs=df.drop('Fare',axis='columns')
target=df['Fare']
inputs

     Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [130]:
target.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [131]:
from sklearn.preprocessing import LabelEncoder

In [132]:
le_Survived=LabelEncoder()
le_Pclass=LabelEncoder()
le_Sex=LabelEncoder()
le_Age=LabelEncoder()

In [133]:
inputs['Survived_n']=le_Survived.fit_transform(inputs['Survived'])
inputs['Sex_n']=le_Sex.fit_transform(inputs['Sex'])
inputs['Pclass_n']=le_Pclass.fit_transform(inputs['Pclass'])
inputs['Age_n']=le_Age.fit_transform(inputs['Age'])

In [135]:
target.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [142]:
le_fare=LabelEncoder()
target=le_Fare.fit_transform(target)
# target_n=target.drop(['Fare'],axis='columns')
# target_n
target

array([ 18, 207,  41, 189,  43,  51, 186, 124,  74, 154, 110, 143,  43,
       158,  36, 108, 151,  85, 113,  16, 138,  85,  42, 168, 124, 159,
        16, 246,  38,  40, 145, 236,  30,  72, 220, 187,  17,  43, 113,
        75,  62, 123,  40, 177,  38,  43, 102,  30, 125, 112, 175,  34,
       211, 138, 200, 168,  72,  17, 146, 179,  17, 218, 222, 147, 145,
       101,  72,  46,  41,  54,  72, 179, 208,  94, 193,  24,  40,  43,
       150,  81,  58,  64,  32, 180,  72, 106, 165,  43, 246,  43,  43,
        36, 198, 122,  18,  43, 166, 201, 129, 138,  40,  40, 212,  53,
        41,  40,  24,  31,  40, 133, 187,  94,  43,  66,  95,  41,  30,
       123, 244, 158, 208,  43, 154,  85, 212,  75,  30,  15, 127,  10,
        40,  12,  96, 138,  85,  98, 140, 189,  59, 216, 101,  30, 106,
         7,  76, 169,  33, 165, 138,  85,  82, 203,  43,  96,  19, 199,
        27,  43,  54, 205, 109, 105,  31,  54, 175, 121, 190, 147, 136,
       193, 163, 151,  74,  41, 156,  36, 134, 149,  85,   0, 205,  99,
       159, 172, 126, 183, 102, 143, 102,  40,  85,  85,  36, 138, 145,
       236,  30,  49,  30,  85,  64, 205,   6,  16,  43,  71, 106, 115,
        30, 157,  12, 123,  18,  85,  30, 231,  41, 144, 210,  72,  43,
        85,  43,  40, 225,  61,  72,  18,  85, 134, 222,  31,  87, 159,
        72,  22, 138, 139,  72,  78,  94, 102,  72,  14,  16, 225,  31,
        96, 188, 138,  18,  71, 143, 109, 119, 101, 216, 223, 247, 138,
        30, 159, 217,   0,  30,  72, 175,  31, 238, 235, 157,   0, 117,
       152,  30, 213,  30,   0, 151, 120,  30,  36,  64,  43, 138,  54,
        64,  40,  85,  30, 215, 226,  84,  57,  40, 145,  17, 237, 155,
       244,  30, 130,   0,  80,  43, 237, 230, 229, 132, 194, 221, 245,
       138,  40, 139,  36, 138,  91, 239, 234,  18,  40,  80, 150, 205,
       235,   3,  85, 121, 196, 130, 148, 238, 113, 233,  40, 203, 234,
        43, 168, 138, 246,  85,  85,  85,  85,  85, 109, 107,  54,  60,
       167,  17, 112,  16,  64, 190,  85,  38,  38, 147, 145,  94,  12,
       102,  18, 209,  17,  30, 204, 191,   6,  43, 235, 124, 220,  18,
       241,   1,  31, 243, 104,  41, 187,  40, 208, 179,  85,  26,  77,
       232,  33,  41, 231, 110,  33,  36, 138,  72,  83,  41,  43,  66,
       106,  54, 123,  30, 114,  31, 134,  40,   8, 225,   0,  41,  43,
       161,  85,  85, 133,  40,  27,  37,  93, 119,  18, 138, 138,  30,
        43, 143, 109, 138,  14, 192, 232, 165, 114, 246,  72, 139,  64,
        31,  85,  44, 219, 117, 143, 116, 155, 146, 118, 146, 224,  43,
        40, 143, 186,  72,  30, 143,  43, 171,  85,  43,  12,   0, 143,
        25, 116,  18,  54, 146,  88,  67, 187, 123,  11,  21,  79, 179,
         0,  43,  65, 226, 134, 225, 152,  43, 107, 118,  18, 155, 182,
        43,  95, 214, 100, 237,  33,  54,  30,  23,  65, 223, 229, 138,
       143, 128, 193,  30,  43, 141, 197,  20, 164,  72, 133, 138,  40,
       227,  40,  16, 196,  17,  30,  72, 242,  41,  76, 138,  17,  17,
       127,  54, 139, 143, 228,  96, 181, 206, 158, 158, 138, 228, 138,
       138,  90, 121, 169, 230, 138,  35,  16,  31, 143, 174, 243, 217,
       111,  30,  40,  87,  43,  43, 133,  40, 124,  17,  36,  72, 185,
       142,  30,  43,  96,  85, 192,  95,  41, 153, 230, 138, 176,  56,
       217,  97, 216,  43,  43,  14, 214,  18,  30, 138, 133, 162,   0,
        16, 194, 144,  40, 178,  43, 143, 103,  40, 155, 177, 238, 158,
        12, 102,  30,  43, 202,  93, 109, 172,  72,  94, 188, 104,  36,
       109, 160,  80, 213,  40,  27, 153,  13, 155,   0, 147,  85,  41,
       139, 175, 109,  36, 204, 147, 193, 116, 211,  40, 168,  22,  22,
        40, 129,  50,  35,   7, 208,  40, 102,  85, 231, 233,  16, 135,
        20,  41, 208,  85,  31,  43, 187, 172, 187,  72,  85,   0,  31,
        43,  68, 179, 247,  45, 211,  60, 179, 172, 177, 175,  70,  33,
       240, 195,  86, 193,  16, 143,  87,  43,  27, 230,  24, 243, 141,
        94,  29,  36, 138,  87, 141, 237, 101, 182, 143, 187,  63,  85,
        24, 243,  72, 102,  31, 162,  13,  85,  85, 189,  54, 123,  28,
       138,  41, 240, 115,   0,  85,  85, 109, 165, 247,  40,  40, 153,
       215, 245, 109,  41, 206, 120,  85, 189,  30, 129,  81,  64,  40,
       202,  96,  33,  76,  43, 223,  96,  14,  17, 232,  31, 213, 174,
        30, 133,  48,  64,  36,  72,  16, 129,  30,  30,  81,  28, 240,
        17, 195, 153, 131,  12,  18,  20, 151, 122, 216,  30, 138, 205,
       156,  40,  85, 137,  55,  17, 133,  85, 139, 232,  52,  10,  31,
         0,  31,  85, 189,  39, 133,  72, 158,  43,   0,  41, 170,   5,
       147, 227,  54,   0,  81, 175,   9, 193, 170,  30, 218,  94, 114,
        17,  36,  47, 221,  54,  43, 193, 152,  41,  72, 157,   4,  54,
        22, 205,  40, 162, 224, 158,  31, 101, 173, 138,  61, 239, 143,
       116,  17,  92,  76, 137, 205,  85,  85,  89, 184,  64,  74,  40,
       188,   2,  58, 132,  16,  69,  40,  40, 221, 138,  40,  73,  72,
        12, 151,  85, 153, 131, 153,  30], dtype=int64)

In [143]:
inputs.head()

   Survived  Pclass     Sex   Age  Survived_n  Sex_n  Pclass_n  Age_n
0         0       3    male  22.0           0      1         2     28
1         1       1  female  38.0           1      0         0     51
2         1       3  female  26.0           1      0         2     34
3         1       1  female  35.0           1      0         0     47
4         0       3    male  35.0           0      1         2     47

In [144]:
inputs_n=inputs.drop(['Survived','Pclass','Sex','Age'],axis='columns')

In [145]:
inputs_n

     Survived_n  Sex_n  Pclass_n  Age_n
0             0      1         2     28
1             1      0         0     51
2             1      0         2     34
3             1      0         0     47
4             0      1         2     47
..          ...    ...       ...    ...
886           0      1         1     35
887           1      0         0     24
888           0      0         2     88
889           1      1         0     34
890           0      1         2     42

[891 rows x 4 columns]

In [146]:
from sklearn import tree

In [147]:
model=tree.DecisionTreeClassifier()

In [148]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [149]:
model.score(inputs_n,target)

0.468013468013468

In [150]:
model.predict([[0,1,2,28]])

c:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([18], dtype=int64)