In [22]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [23]:
# for creating a new dataframe with some of the colums from the existing 
new_df = df[['Sex','Age']].copy()
new_df

        Sex   Age
0      male  22.0
1    female  38.0
2    female  26.0
3    female  35.0
4      male  35.0
..      ...   ...
886    male  27.0
887  female  19.0
888  female   NaN
889    male  26.0
890    male  32.0

[891 rows x 2 columns]

In [24]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [25]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [26]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [27]:
inputs.drop("Sex",axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [28]:
#  to find that if there is any NA value in the data 
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [29]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [33]:

inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [35]:
len(X_train)

712

In [36]:
len(inputs)

891

In [37]:
X_train

     Pclass   Age     Fare  female  male
465       3  38.0   7.0500       0     1
845       3  42.0   7.5500       0     1
116       3  70.5   7.7500       0     1
104       3  37.0   7.9250       0     1
777       3   5.0  12.4750       1     0
..      ...   ...      ...     ...   ...
473       2  23.0  13.7917       1     0
434       1  50.0  55.9000       0     1
771       3  48.0   7.8542       0     1
387       2  36.0  13.0000       1     0
543       2  32.0  26.0000       0     1

[712 rows x 5 columns]

In [39]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [40]:
model.fit(X_train,y_train)

GaussianNB()

In [41]:
model.score(X_test,y_test)

0.776536312849162

In [42]:
X_test[:10]

     Pclass        Age      Fare  female  male
256       1  29.699118   79.2000       1     0
455       3  29.000000    7.8958       0     1
223       3  29.699118    7.8958       0     1
340       2   2.000000   26.0000       0     1
342       2  28.000000   13.0000       0     1
33        2  66.000000   10.5000       0     1
253       3  30.000000   16.1000       0     1
544       1  50.000000  106.4250       0     1
361       2  29.000000   27.7208       0     1
186       3  29.699118   15.5000       1     0

In [43]:
y_test[:10]

256    1
455    1
223    0
340    1
342    0
33     0
253    0
544    0
361    0
186    1
Name: Survived, dtype: int64

In [44]:
model.predict(X_test[:10])

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [45]:
model.predict_proba(X_test[:10])

array([[0.00185846, 0.99814154],
       [0.99009887, 0.00990113],
       [0.9901737 , 0.0098263 ],
       [0.95685435, 0.04314565],
       [0.97802523, 0.02197477],
       [0.97228288, 0.02771712],
       [0.99034456, 0.00965544],
       [0.34829715, 0.65170285],
       [0.97681749, 0.02318251],
       [0.06766566, 0.93233434]])